PUBLIC_FIREBASE_API_KEY="AIzaSyA1YtQNcg8tfI1MqS9KdZMaUTtcqNEoEMw"
PUBLIC_FIREBASE_AUTH_DOMAIN="hinagiku-dev.firebaseapp.com"
PUBLIC_FIREBASE_PROJECT_ID="hinagiku-dev"
PUBLIC_FIREBASE_STORAGE_BUCKET="hinagiku-dev.firebasestorage.app"
PUBLIC_FIREBASE_MESSAGING_SENDER_ID="585902608528"
PUBLIC_FIREBASE_APP_ID="1:585902608528:web:908698a423651bb865c815"
PUBLIC_FIREBASE_MEASUREMENT_ID="G-QFXF543DV8"

CLOUDFLARE_ACCOUNT_ID="CLOUDFLARE_ACCOUNT_ID"
CLOUDFLARE_R2_BUCKET="CLOUDFLARE_R2_BUCKET"
CLOUDFLARE_R2_ACCESS_KEY_ID="CLOUDFLARE_R2_ACCESS_KEY_ID"
CLOUDFLARE_R2_SECRET_ACCESS_KEY="CLOUDFLARE_R2_SECRET_ACCESS_KEY"

GOOGLE_APPLICATION_CREDENTIALS="service-account-file.example.json"
HUGGINGFACE_TOKEN="hf_xxx"
OPENAI_BASE_URL="https://api.openai.com/v1"
